<!DOCTYPE html>
<html>
  <head>
    <title>Simple Donut - Vue.js</title>
    <link rel="stylesheet" href="_styles/style.css" type="text/css">
  </head>
  <body>

    <div id="app">
      <simple-donut :percent="percent" :donut="donut"></simple-donut>

      <div id="controls">
        <input v-model="percent" type="number">
        <input v-model="percent" type="range">
        <label>
          <input v-model="donut" type="checkbox">
          <span v-if="donut">Donut</span>
          <span v-else>Pie</span>
        </label>
      </div>
    </div>

    <script type="text/javascript" src="node_modules/vue/dist/vue.min.js"></script>
    <script type="text/javascript" src="node_modules/http-vue-loader/src/httpVueLoader.js"></script>
    <script type="text/javascript" src="_scripts/app.js"></script>
  </body>
</html>
