<!DOCTYPE html>
<html>
  <head>
    <title>Simple Donut - Vue.js</title>
    <link rel="apple-touch-icon" sizes="57x57" href="_img/meta/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="_img/meta/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="_img/meta/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="_img/meta/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="_img/meta/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="_img/meta/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="_img/meta/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="_img/meta/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="_img/meta/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="_img/meta/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="_img/meta/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="_img/meta/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="_img/meta/favicon-16x16.png">
    <meta name="theme-color" content="#ECF0F1">
    <meta name="msapplication-TileColor" content="#ECF0F1">
    <meta name="msapplication-TileImage" content="_img/meta/ms-icon-144x144.png">
    <link rel="stylesheet" href="_styles/style.css" type="text/css">
    <link rel="stylesheet" href="_styles/simple-donut.css" type="text/css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
    <script type="text/javascript">
      if (typeof Vue == 'undefined') {
        document.write(unescape("%3Cscript src='_scripts/vue-2.1.10.min.js' type='text/javascript'%3E%3C/script%3E"));
      }
    </script> <!-- Load local jQuery if Google CDN is unreachable -->
  </head>
  <body>

    <div id="donutchart">
      <div class="donut-size">
        <div :class="donut ? 'donut-graph' : 'pie-graph'" class="pie-wrapper">
          <span class="label">
              <span>{{ percent }}</span><span class="smaller">%</span>
          </span>
          <div class="pie" :style="{ clip: pie }">
            <div class="left-side half-circle" :style="{ transform: leftside }"></div>
            <div class="right-side half-circle" :style="{ transform: rightside }"></div>
          </div>
          <div class="shadow"></div>
        </div>
      </div>

      <div id="controls">
        <input v-model="percent" type="number">
        <input v-model="percent" type="range">
        <label>
          <input v-model="donut" type="checkbox">
          <span v-if="donut">Donut</span>
          <span v-else>Pie</span>
        </label>
      </div>
    </div>

    <p>
      In your console run <code>updateDonutChart(89, true);</code>
    </p>

    <script type="text/javascript" src="_scripts/simple-donut-vue.js"></script>
    <script>
      updateDonutChart(66.7, true);
    </script>
  </body>
</html>
